@model List<BasketVM>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">BasketCount</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var product in Model)
        {
            <tr>
                <th >
                    <img src="~/img/@product.ImageUrl" width="200" height="200" alt="" />
                </th>
                <th>@product.Name</th>
                <th>@product.BasketCount</th>

                <th>
                    <a asp-action="delete" asp-route-id="@product.Id">
                        X
                    </a>
                </th>
            </tr>
        }
    </tbody>
</table>