@model IEnumerable<Product>
<div id="products">
    <div class="container">
        <div class="row" id="product-list">
            @await Component.InvokeAsync("Product",4)
            
        </div>
        <div class="row justify-content-center " >
            <input id="ProductCount" type="hidden" value="@ViewBag.ProductCount"></input>

            <button id="loadmore-product" class="btn-primary btn ">Load More</button>
        </div>
    </div>
</div>
